@using CadastroUMP.Dominio
@model Igreja

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Igreja</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeIgreja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeIgreja)
            @Html.ValidationMessageFor(model => model.NomeIgreja)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Estado.NomeEstado)
        </div>
        <div class="editor-field">
            <select id="Estado_EstadoId" name="Estado.EstadoId">
                <option value="0">Selecione...</option>
                @foreach (var estado in (List<Estado>)ViewBag.Estados)
                {
                    <option value="@estado.EstadoId">@estado.NomeEstado</option>
                }
            </select>
        </div>

        <div class="editor-label">
            Cidade
        </div>
        <div class="editor-field">
            <p id="selectCidade">
                <select id="Cidade_CidadeId" name="Cidade.CidadeId">
                </select>
            </p>
        </div>
        <p>
            <input type="submit" value="Cadastrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" language="javascript">

    ///***Federaçao***
    $(function () {
        $("#Sinodal_SinodalId").change(function () {
            console.log('federacao');
            if (possuiSinodalSelecionado()) {
                $("#selectFederacao").fadeIn();
                carregarFederacaoDaSinodal();
            } else {
                limparFederacoesCarregadas();
                $("#selectFederacao").fadeOut();
            }
        });
    });

    function possuiSinodalSelecionado() {
        return $("#Sinodal_SinodalId").val() != "0";
    }
    function carregarFederacaoDaSinodal() {
        var url = "http://ceump.apphb.com/Federacao/ListarPorID/" + $("#Sinodal_SinodalId").val();
        $.getJSON(url, null, function (data) {

            limparFederacoesCarregadas();
            $.each(data, function (indice, federacao) {
                $("#Federacao_FederacaoId").append("<option value='" + federacao.FederacaoId + "'>" + federacao.NomeFederacao + "</option>");
            });
        });
    }
    function limparFederacoesCarregadas() {
        $("#Federacao_FederacaoId").empty();
    }


    ///***Cidade***
    $(function () {
        $("#Estado_EstadoId").change(function () {
            console.log('mudou');
            if (possuiEstadoSelecionado()) {
                $("#selectCidade").fadeIn();
                carregarCidadeDoEstado();
            } else {
                limparCidadesCarregadas();
                $("#selectCidade").fadeOut();

            }
        });
    });
    function possuiEstadoSelecionado() {
        return $("#Estado_EstadoId").val() != "0";
    }
    function carregarCidadeDoEstado() {
        var url = "http://ceump.apphb.com/cidade?idEstado/cidade?idEstado=" + $("#Estado_EstadoId").val();
        $.getJSON(url, null, function (data) {

            limparCidadesCarregadas();
            $.each(data, function (indice, cidade) {
                $("#Cidade_CidadeId").append("<option value='" + cidade.CidadeId + "'>" + cidade.NomeCidade + "</option>");
            });
        });
    }
    function limparCidadesCarregadas() {
        $("#Cidade_CidadeId").empty();

    }
</script>
