@model IEnumerable<CadastroUMP.Dominio.Federacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar novo", "Cadastrar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFederacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFederacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.FederacaoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.FederacaoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.FederacaoId })
        </td>
    </tr>
}

</table>
